/*
CSS HERE
*/

/* HEADER*/

/* FIN HEADER*/

/* CUERPO*/
#main {
    margin-top: 100px;
    margin-bottom: 150px;
}
/* FIN CUERPO*/

/* FOOTER */
#footer {
    background-color: black;
    color: white;
}
/* FIN FOOTER*/