/*
CSS HERE
*/

/* HEADER*/

/* FIN HEADER*/

/* CUERPO*/
#main {
    margin-top: 100px;
    margin-bottom: 150px;
    
}
#carrusel img{
    height: 600px;
    width: 1000px;
}

#carrusel{
    float: right;
}

/* FIN CUERPO*/

/* FOOTER */
#footer {
    background-color: rgb(83, 83, 83);
    color: white;
}
/* FIN FOOTER*/
